<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: header}"><title>로그인 성공</title></head>

<body>
<div class="container" style="width: 400px">
    <div class="py-5 text-center">
        <h5>회원가입완료</h5>
        <p>회원가입이 완료되었습니다.🎉</p>
    </div>
    <hr class="my-4">

    <form class="form-group">
        <button class="btn btn-primary btn-lg btn-block" type="button" onclick="location.href='/'">완료</button>
        <hr class="my-4">
    </form>
</div>
</body>
</html>
