<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="body-header">
    <ul class="nav justify-post-end p-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/members/memberId">
                MY PAGE
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="members/like">
                MY LIKE
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/members/login">
                LOGIN
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/members/new">
                JOIN
            </a>
        </li>
    </ul>
</header>
<header th:replace="~{fragments/body-menu :: body-menu}"/>
